{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Bienvenue sur le tableau de bord</h1>

        <div class="mt-4">
            <a href="{{ path('app_login') }}" class="btn btn-primary">Connexion</a>
            <a href="{{ path('app_register') }}" class="btn btn-success">Inscription</a>
        </div>
    </div>
{% endblock %}
